.linen{
	background-color: #FAF0E6;
}
.navy{
	background-color: #000080;
}
.maroon{
	background-color: #800000;
}
.peach{
	background-color: #FFDAB9;
}
.olive{
	background-color: #808000;
}
.papaya{
	background-color: #FFEFD5;
}
.dirtyBlue{
	background-color: rgb(112,146,190);
}
.lightBlue{
	background-color: rgb(153,217,234);
}
.electricityGreen{
	background-color: rgb(181,230,29);
}
.lemon{
	background-color: rgb(239,228,176);
}
.lightOrange{
	background-color: rgb(255,201,14);
}
.pink{
	background-color: rgb(255,174,201);
}
.brown{
	background-color: rgb(185,122,87);
}
.darkWhite{
	background-color: rgb(195,195,195);
}
.white{
	background-color: white;
}
.purple{
	background-color: rgb(163,73,164);
}
.darkBlue{
	background-color: rgb(63,72,204);
}
.teal{
	background-color: teal;
}
.blue{
	background-color: blue;
}
.green{
	background-color: green;
}
.yellow{
	background-color: yellow;
}
.orange{
	background-color: orange;
}
.red{
	background-color: red;
}
.magenta{
	background-color: #FF00FF;
}
.gray{
	background-color: gray;
}
.black{
	background-color: black;
}
.lightSteelBlue{
	background-color: #B0C4DE;
}